<% estimated_amount = budget.total_amount %>
<% if budget.bonification %>
  <% bonification = budget.bonification %>
  <% final_amount = estimated_amount - bonification %>
  <% adelanto = final_amount * 0.3 %>
  <% saldo = final_amount * 0.7 %>
<% else %>
  <% adelanto = estimated_amount * 0.3 %>
  <% saldo = estimated_amount * 0.7 %>
<% end %>

<div class="row">
  <div class="col-xs-12">
    <h3 class="text-primary">Retribución</h3>
    <p><strong>Precio estimado: $<%= estimated_amount %></strong></p>
    <% if bonification %>
      <p>Incluimos una <strong>Bonificacion de $<%= bonification %></strong></p>
      <p><strong>Precio con Bonificacion: $<%= final_amount %></strong></p>
    <% end %>
    <p>Adelanto de 30%: $<%= adelanto %></p>
    <p>Saldo a cancelar: $<%= saldo %></p>
    <p>Aclaraciones:<br>
    El cliente puede elegir cancelar el saldo cuando se entregue el sitio o en 2 cuotas: la primera a mediados del desarrollo y la segunda al finalizar el mismo.<br>
    Este presupuesto tiene una validez de 30 días.<br>
    El desarrollo del sistema comienza a partir del pago del adelanto del 30%.<br>
    El precio es sólo para lo detallado en <span class="text-primary">Funcionalidades</span>. Una vez recibida la confirmación, por parte del cliente, se inicia el desarrollo de la propuesta. Cualquier funcionalidad extra no listada debe agregarse a este presupuesto o realizar uno nuevo.<br>
    Este precio estimado no incluye los gastos de servicios extras que puedan requerirse listados en <span class="text-primary">Otros Servicios</span>.
    </p>
  </div>
</div>
