<div class="col-xs-12">
  <%= render 'header', client_name: @budget.client_name %>

  <%= render 'project_description', project_description: @budget.project_description %>

  <%= render 'payment_info', budget: @budget %>

  <%= render 'deadlines_and_payment_forms', estimated_time: @budget.estimated_time %>

  <%= render 'budget_items_table', budget_items: @budget.budget_items %>

  <%= render 'other_services_pricing_table' %>

  <%= render 'contact_info', dev_name: @budget.developer_name, dev_email: @budget.developer_email %>

  <% if @budget.show_missing_info_clarification? %>
    <%= render 'missing_info_clarification' %>
  <% end %>

  <%= render 'ads_disclaimer' %>

  <%= render 'farewell' %>
</div>
