<%= form_with(model: [:admin, budget], local: true) do |form| %>
  <% if budget.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(budget.errors.count, "error") %> prohibited this budget from being saved:</h2>

      <ul>
      <% budget.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.fields_for :client do |c| %>
      <div class="row">
        <div class="form-group col-md-6">
          <%= c.label :client_name %>
          <%= c.text_field :name, class: 'form-control' %>
        </div>

        <div class="form-group col-md-6">
          <%= c.label :client_email %>
          <%= c.text_field :email, class: 'form-control' %>
        </div>
      </div>
  <% end %>

  <div class="row">
    <div class="form-group col-md-4">
      <%= form.label :send_date %>
      <%= form.text_field :send_date, class: 'form-control' %>
    </div>

    <div class="form-group col-md-4">
      <%= form.label :estimated_time %>
      <%= form.text_field :estimated_time, class: 'form-control' %>
    </div>

    <div class="form-group col-md-4">
      <%= form.label :total_amount %>
      <%= form.number_field :total_amount, class: 'form-control' %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
