<%= render 'admin/shared/simple_header', notice: notice, title: 'Presupuestos', text_danger: '' %>

<div class="content overflow-hidden mb20">
  <% if @budgets.any? %>
  <div class="table-responsive">
      <table class="table table-hover table-bordered table-condensed">
        <thead>
          <tr class='background-primary color-white'>
            <th class='text-center'><strong>Cliente</strong></th>
            <th class='text-center'><strong>Proyecto</strong></th>
            <th class='text-center'><strong>Total</strong></th>
            <th class='text-center'><strong>Bonificacion?</strong></th>
            <th class='text-center'><strong>Acciones</strong></th>
          </tr>
        </thead>

        <tbody>
          <% @budgets.each do |budget| %>
            <tr>
              <td class='text-center'><%= budget.client_name %></td>
              <td class='text-center'><%= budget.project_name %></td>
              <td class='text-center'><%= budget.total_amount %></td>
              <td class='text-center'><%= budget.bonification? ? 'Si' : 'No' %></td>
              <td class='text-center'>
                <strong>
                  <%= link_to "PDF", admin_budget_pdf_path(budget, format: :pdf), target: '_blank' %> |
                  <%= link_to 'Editar', edit_admin_budget_path(budget) %> |
                  <%= link_to 'Eliminar', admin_budget_path(budget), method: :delete, data: { confirm: 'Estás seguro?' } %>
                </strong>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
  </div>
  <% else %>
    <p>No hay presupuestos</p>
  <% end %>
  <br>
</div>
