<div class="header">
  <p id="notice"><%= notice %></p>
  <h3>Desarrolladores</h3>
</div>

<div class="content overflow-hidden mb20">
  <% if @developers.any? %>
    <table>
      <thead>
        <tr>
          <th><strong>Nombre</strong></th>
          <th><strong>Email</strong></th>
          <th><strong>Acciones</strong></th>
        </tr>
      </thead>

      <tbody>
        <% @developers.each do |developer| %>
          <tr>
            <td><%= developer.name %></td>
            <td><%= developer.email %></td>
            <td><%= link_to 'Editar', edit_admin_developer_path(developer) %> |
            <%= link_to 'Eliminar', admin_developer_path(developer), method: :delete, data: { confirm: 'Estás seguro?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  <% else %>
    <p>No hay desarrolladores</p>
  <% end %>

  <br>
</div>
